body {
  font-family: Roboto, sans-serif;
  color: #212121;
}
.logo {
  font-family: Raleway;
  display: inline-block;
  font-size: 1.625rem;
  line-height: 1.19;
  color: #000;
  font-weight: 700;
}
.logo .span {
  display: inline-block;
}
.address {
  color: #757575;
  font-size: 0.875rem;
  line-height: 1.14;
  font-weight: 500;
}
.effsolutions {
  background-color: #2f303a;
}
.effsolutions-h1 {
  font-size: 2.75rem;
  line-height: 1.36;
  font-weight: 900;
  color: #fff;
}
.effsolutions-button {
  font-size: 1rem;
  line-height: 1.875;
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
}
.placeholder-h2 {
  font-size: 0.875rem;
  line-height: 1.14;
  font-weight: 700;
}
.placeholder-p {
  font-size: 0.875rem;
  line-height: 1.714;
  font-weight: 400;
  color: #757575;
}
.address-grey {
  color: #757575;
}
.address-white,
.logo-studio {
  color: #fff;
}
.logo-web {
  color: #2196f3;
}
.header {
  background-color: #fff;
}
.button {
  cursor: pointer;
}
.buttons .button:hover {
  color: #fff;
}
.portfolio-h2 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
}
.portfolio-p {
  font-size: 1rem;
  line-height: 1.875;
  font-weight: 400;
  color: #757575;
}
.ourteam {
  background-color: #f5f4fa;
}
.ourservices-h2,
.ourteam-h2 {
  font-size: 2.25rem;
  line-height: 1.17;
  font-weight: 700;
}
.outeam-div1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
}
.outeam-div2 {
  font-weight: 400;
  font-size: 1rem;
  color: #757575;
  line-height: 1.19;
}
.navigation {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.14;
}
.buttons {
  display: inline;
}
.buttons .button {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
}
.footer .address {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.71;
}
.footer {
  background-color: #2f303a;
}
.footer .address-grey {
  color: #fff9;
}
.highlight:focus,
.highlight:hover,
.address-grey:focus,
.address-grey:hover {
  color: #2196f3;
}
