body {
  font-family: Roboto, sans-serif;
  color: #212121;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h2,
p {
  margin: 0;
}
.container {
  width: 75rem;
}
.section {
  padding: 5.875rem 0;
}
.section-solutions-background {
  background-color: #2f303a;
}
.logo {
  font-family: Raleway;
  display: inline-block;
  font-size: 0;
  line-height: 1.19;
  color: #000;
  font-weight: 700;
}
.logo_bottom {
  padding-bottom: 1.25rem;
}
.logo .span {
  display: inline-block;
  font-size: 1.625rem;
}
.logo-white {
  color: #fff;
}
.span {
  font-size: 1.625rem;
}
.address {
  color: #757575;
  font-size: 0.875rem;
  line-height: 1.14;
  font-weight: 500;
  display: block;
}
.address-mailto_padding {
  padding: 0.5625rem 0;
}
.effsolutions {
  background-color: #2f303a;
  height: 37.5rem;
  width: 100rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.effsolutions-h1 {
  font-size: 2.75rem;
  line-height: 1.36;
  font-weight: 900;
  color: #fff;
  width: 43.5rem;
  paddingleft: 21.875rem;
  text-transform: uppercase;
}
.effsolutions-button {
  display: block;
  font-size: 1rem;
  line-height: 1.875;
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
  margin-top: 1.875rem;
  box-shadow: 0px 0.25re 0.25re #000026;
  border-radius: 0.25rem;
  width: 12.4375rem;
}
.placeholder-ul {
  display: flex;
  justify-content: space-between;
  margin-left: 12.5rem;
  list-style-type: none;
  height: 6.3125rem;
}
.placeholder-hgroup {
  width: 16.875rem;
  letter-spacing: 0.03em;
}
.placeholder-h2 {
  font-size: 0.875rem;
  line-height: 1.14;
  font-weight: 700;
}
.placeholder-p {
  font-size: 0.875rem;
  line-height: 1.714;
  font-weight: 400;
  color: #757575;
}
.address-grey {
  color: #757575;
}
.address-white,
.logo-studio {
  color: #fff;
}
.logo-web {
  color: #2196f3;
}
.header {
  background-color: #fff;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12.5rem;
}
.button {
  cursor: pointer;
}
.buttons .button:hover {
  color: #fff;
}
.portfolio-h2 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
}
.portfolio-p {
  font-size: 1rem;
  line-height: 1.875;
  font-weight: 400;
  color: #757575;
}
.ourteam {
  background-color: #f5f4fa;
  width: 100rem;
}
.ourteam-div {
  margin: 0 12.5rem;
}
.ourteam-li {
  background-color: #fff;
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #0000001f, 0px 2px 1px #0000001f;
}
.ourteam-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.ourservices {
  margin-left: 12.5rem;
  padding-bottom: 5.875rem;
}
.ourservices-list {
  display: flex;
  justify-content: space-between;
}
.ourservices-h2,
.ourteam-h2 {
  font-size: 2.25rem;
  line-height: 1.17;
  font-weight: 700;
  padding-bottom: 3.125rem;
  text-align: center;
}
.outeam-div1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
}
.outeam-div2 {
  font-weight: 400;
  font-size: 1rem;
  color: #757575;
  line-height: 1.19;
}
.navigation {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.14;
}
.navigation-list {
  display: flex;
  list-style-type: none;
  padding-left: 5.8125rem;
  padding-right: 23.1875rem;
}
.navigation-list-portfolio {
  margin: 0 2.9rem;
}
.section-address {
  display: flex;
}
.header-phone {
  margin-left: 3.125rem;
}
.buttons {
  display: inline;
}
.buttons .button {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625;
}
.footer-div {
  margin: 0 12.5rem;
  padding: 3.75rem 0;
  height: 15.75rem;
}
.footer .address {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.71;
}
.footer {
  background-color: #2f303a;
  width: 100rem;
}
.footer .address-grey {
  color: #fff9;
}
.highlight:focus,
.highlight:hover,
.address-grey:focus,
.address-grey:hover {
  color: #2196f3;
}
